.info1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color:black;
}

.info2{
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    width:90%;
}

main > #content {
    background-color:#15ABFF;
}

main > #contents > div > article p+select {
    display: flex;
    flex-direction: row;
}

article {
    background-color: #15ABFFFF;
    padding:20px;
    border-radius:20px;
}

article > div {
    display:flex;
    flex-direction:row;
}
article img {
    height:70%;
    width:70%;
    max-height: 100%;
    max-width:100%;
    margin: 0 2%;
    flex-shrink:3;
}
main > #contents > div > article p {
    text-align: left;
}

/*bouton*/
.envoyer{
    font-size:20px;
    border-radius: 30px;
    margin:15px auto 0 auto;
    transition:0.4s;
    padding:10px;
}

.envoyer:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}
/*modif taille*/
@media screen and (max-width:922px){
    article > div {flex-direction:column;}
    article img {width:90%; margin:5%}
}