main {
    margin-top: 93vh;
}

/* Présentation principale */
main > #presentation > div:last-child {
    position: absolute;
    bottom: 15%;
    background-color: rgb(127, 127, 127, 0.8);
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}

main > #presentation > div:first-child > h1 {
    text-shadow: 0 0 15px black;
}

main > #presentation > div:last-child > a > p {
    margin: 5px;
}

main > #presentation > div:last-child > a > img {
    width: 20%;
}

main > #presentation-bg {
    background-image: url("../img/presentation1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -2;
}

main > #presentation-bg::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}

main > #presentation, main > #presentation-bg {
    text-align: center;
    position: absolute;
    height: 100%;
    color: white;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Responsive */
@media screen and (max-width: 1000px){
    main > #contents > div:first-child > article:last-child > .float_right { float: unset;width:90%; }
}
