/*structure*/
body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    flex-grow: 0;
}

/*texte*/
p{
    font-size: 20px;
}
.texte1{
    width: 80%;
}

/*menu déroulant*/
header > nav {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #0008ff;
    top: 0;
    font-size: 30px;
}

header > nav a {
    text-decoration: none;
    color: #ffffff;
    text-align: left;
    font-family: coolvetica_rg, serif;
}

header > nav a:visited, header > nav a:hover{
    color:white;
}

header > nav > div a:hover {
    text-decoration: underline;
}

header > nav > span {
    background-color: white;
    padding: 0 30px;
    height: 100%;
}

header > nav > span > img {
    width: 50px;
}

header > nav div {
    display: flex;
}

header > nav > div {
    height: 100%;
}

header > nav > div:first-of-type {
    margin-left: 20px;
}

header > nav > div:first-of-type a { /*barre nav espace entre les a*/
    margin: 0 15px;
}

header > nav > div > div { /*barre nav texte au milieu vertical*/
    align-items: center;
}

/* Sous-menus */
.submenu, .submenu2 {
    display: none;
    position: absolute;
    background-color: #0008ff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    flex-direction: column;
    padding: 5px 0;
}

.subparent {
    background-color: #0008ff;
    transform-style: preserve-3d;
}

.submenu {
    transform: translateZ(-10px);
    top:100%;
    width: 100%;
    left: 0;
}

.submenu2 {
    left: 100%;
    border-top-right-radius: 10px;
    width: auto;
}

.subparent:hover > .submenu, .subparent2:hover > .submenu2 {
    display: flex;
}

.submenu > div, .submenu2 > div {
    padding: 10px;
    font-size: 22px;
    justify-content: center;
 }

.submenu > div > a, .submenu2 > div > a {
    text-align:center;
}

/*.subparent, header > nav > div > div:not(:first-child), nav > div > div:not(:nth-child(n)) {
    border-left: 1px solid white;
}*/

/*menu hamburger*/
.hamburger {
    position: absolute;
    display: none;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
}

.hamburger > div, .hamenu {
    flex-direction:column;
    display: none;
}
.hamburger > img {
    width: 50px;
    margin-right: 10px;
}

#menuhamburger {
    position: absolute;
    background-color: #0008ff;
    text-align: center;
    top: 68px;
    width: 100%;
    left: 0;
    align-items: stretch;
}

#menuhamburger div {
    justify-content: center;
}


#menuhamburger > div:not(:last-child) {
    border-bottom: 1px solid white;
}

#menuhamburger > div {
    padding: 10px 0;
}

.hamenu {
    display:none;
    position:relative;
    justify-content: stretch;
    text-align:center;
    width:100%;
    height:100%;
}

.hamenu > div {
    padding: 5px 0;
}

.hamenu > a {
    width:auto;
    align-items: center;
}

.hamparent {
    align-items: center;
    flex-direction: column;
    padding: 0;
}
.hamparent > a, .hamparent > div:first-child > a {
    align-items: center;
    width:100px;
}

#menuhamburger:hover, .hamburger > img:hover ~ #menuhamburger, .hamenu:hover {
    display:flex;
}

.hamparent > div:first-child {
    align-items: center;
}

.hamparent > div:first-child > img {
    width:20px;
    height: 20px;
    margin-right: 10px;
    rotate:90deg;
}

@media screen and (max-width:640px){
    .hamburger {display:flex}
    nav > div:not(.hamburger) {display:none}
}

/*animation*/
.animation, .subparent:hover > .submenu, .subparent2:hover > .submenu2, .hamburger:hover > #menuhamburger {
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

.hamburger:hover > #menuhamburger{
    animation-duration: 0.5s;
    animation-name: menuhamburger;
}

.subparent:hover > .submenu {
    animation-name: submenu;
}

.subparent2:hover > .submenu2 {
    animation-name: submenu2;
}

@keyframes submenu {
    0%   {left:0; top:-150px;}
    100% {left:0; top:100%;}
}

/*@keyframes submenu2 {
    0%   {left:0; top:-100%;}
    100% {left:100px; top:0;}
}*/

@keyframes menuhamburger {
    0%   {left:100%; top:100%;}
    100% {left:0; top:100%;}
}

@keyframes puce {
    0% {rotate:90deg;}
    100%{rotate:180deg;}
}

/* Contenus principaux */
main {
    flex: 1 1 auto;
}

main > #contents {
    display: flex;
    flex-direction: row;
}

main > #contents p {
    text-align: justify;
}

main > #contents h2, main > #contents h3 {
    margin: 0;
}

main > #contents > div:first-child {
    width: 80%;
    background-color: white;
}

main > #contents > div:first-child > article {
    margin: 40px 50px;
}

main > #contents > div:first-child > article > h1 {
    font-size: 40px;
    margin: 10px 0;
    border-bottom: 1px solid grey;
}

main > #contents > div:first-child > article > h2 {
    font-size: 25px;
    font-weight: normal;
    border-bottom: 1px dotted grey;
}

main > #contents > div:last-child {
    background-color: grey;
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

main > #contents > div:last-child > div {
    margin: 20px 0;
    width: 100%;
}

main > #contents > div:last-child > div:first-child {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    padding-bottom: 15px;
}

main > #contents > div:last-child > div:first-child > h2 {
    margin: 20px 0;
}

main > #contents > div:last-child > div:first-child > audio {
    width: 90%;
}

main > #contents > div:last-child > div:first-child > p {
    margin: 20px;
}

main > #contents > div:last-child > div:first-child > img {
    width: 90%;
    border-radius: 20px;
}

main > #contents > div:last-child > div:last-child > img {
    width: 100%;
}

.infobox {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid grey;
    width: 40%;
}

.infobox > img {
    width: 100%;
}

.infobox > p {
    font-size: 15px;
    text-align: right;
    margin: 10px 20px 0 20px;
}

.float_right {
    float: right;
    margin: 20px 0 10px 10px;
}


/*liens*/
a:link{
    display :flex;
    flex-direction: row;
}
a:visited{
    color:mediumpurple;
}
a:hover{
    color:mediumpurple;
}

/*audio*/
audio {
    margin:5px;
}

/*footer*/
footer {
    background-color: #0008ff;
    display: flex;
    padding: 5px 0;
    flex: 0 1 auto;
    flex-grow: 0;
    flex-shrink: 0;
}

footer > #reseaux {
    margin: 0 auto;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
}

footer > #reseaux > a > img {
    margin: 20px;
    max-height: 30px;
    max-width: 30px;
}

footer > #reseaux > a > img:hover {
    margin: 0 20px;
    height: max-content;
    width: max-content;
    max-height: 50px;
    max-width: 50px;
}

footer > #develop {
    color: white;
    margin: auto 8px auto 0;
    padding: 0 10px;
    text-align: center;
    border: 1px solid white;
}

footer > #develop h3, footer > #develop > div p {
    margin: 4px;
}

footer > #develop h3 {
    font-size: 12px;
    letter-spacing: 3px;
}

footer > #develop > div p {
    font-size: 12px;
    letter-spacing: 1px;
}

footer > #develop > div {
    /* On divise l'espace en grille de 2 colonnes */
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 5px;
}

@media screen and (max-width: 480px) {
    footer { flex-direction: column; }
    footer > #reseaux > a > img { margin: 15px; }
    footer > #reseaux > a > img:hover { margin: 0 15px; }
    footer > #develop { margin: auto; }
}

@media screen and (max-width: 768px){
    main > #contents { flex-direction: column; }
    main > #contents > div:first-child { width: 100%; }
    main > #contents > div:first-child > article { margin: 40px 30px; }
    main > #contents > div:last-child { width: auto; }
}
/* Fin footer */