/*structure*/
body{
    background-color: #15ABFF;
    margin: 0;
}

/*texte*/

p{
    font-size: 20px;
}
.texte1{
    width: 80%;

}
/*titres*/
.pagesdifferentes{
    display:flex;
    flex-direction: row;
}
/*menu déroulant*/
header > nav {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #0008ff;
    top: 0;
    font-size: 30px;
}

header > nav a:visited{
    color:white;
}

header > nav > span {
    background-color: white;
    padding: 0 30px;
    height: 100%;

}

header > nav > span > img {
    width: 50px;
}

header > nav a {
    text-decoration: none;
    color: #ffffff;
    text-align: left;
    font-family: coolvetica_rg, serif;
}

header > nav > div {
    height: 100%;
}

header > nav > div > div {
    align-items: center;
}

header > nav > div a:hover {
    text-decoration: underline;
}

/* Sous-menus */
.submenu, .submenu2 {
    display: none;
    position: absolute;
    background-color: #0008ff;
    top: 100%;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    flex-direction: column;
    padding: 5px;
    width: 90%;
    align-self: center;
}

.subparent {
    background-color: #0008ff;
    transform-style: preserve-3d;
}

.submenu {
    opacity: 80%;
    transform: translateZ(-10px)
}

.submenu2 {
    left: 100%;
    top: 0;
    border-top-right-radius: 10px;
    width: auto;
}

.subparent:hover > .submenu, .subparent2:hover > .submenu2 {
    display: flex;
    background-color:#0008ff;
}

.submenu > div, .submenu2 > div {
    padding: 10px;
    font-size: 22px;
    justify-content: center;
 }

 .submenu > div > a, .submenu2 > div > a {
    text-align:center;
 }

header > nav > div {
    margin-left: 10px;
}

nav div {
    position: relative;
    text-align: center;
    padding: 0 15px;
    color: white;
    display: flex;
}

.subparent, header > nav > div > div:not(:first-child), nav > div:not(:nth-child(1n)) {
    border-left: 1px solid white;
}

/*animation heheh*/
.subparent:hover > .submenu, .subparent2:hover > .submenu2, .hamburger:hover > #menuhamburger{
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.hamburger:hover > #menuhamburger{
    animation-duration: 0.2s;
}

.subparent:hover > .submenu {
    animation-name: submenu;
}

.subparent2:hover > .submenu2 {
    animation-name: submenu2;
}

.hamburger:hover > #menuhamburger {
    animation-name: menuhamburger;
}

@keyframes submenu {
    0%   {left:0; top:-150px;}
    100% {left:0; top:100%;}
}

@keyframes menuhamburger {
    0%   {left:100%; top:100%;}
    100% {left:0; top:100%;}
}

@keyframes submenu2 {
    0%   {left:0; top:-100%;}
    100% {left:100px; top:0;}
}

/*menu hamburger*/
.hamburger {
    position:relative;
    display:none;
    right:0;
    margin-left:auto;
    border:none;
}

.hamburger > div, .hamenu {
    flex-direction:column;
    display:none;
}

.hamburger:hover #menuhamburger{
    display:flex;
}

#menuhamburger {
    position:absolute;
    right: 0;
    top:68px;
    opacity:100%;
    background-color: #0008ff;
    padding: 5px;
    text-align:center;
    z-index:-1;
}

.hamenu {
    display:none;
    position: absolute;
    right:100%;
    top:0;
    background-color:#0008ff;
    padding:10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}

.hamenu > div {
    padding:5px;
}

.hamparent {
    padding: 10px;
}
.hamparent:hover .hamenu{
    display:flex;
}

.hamburger:hover{
    cursor:pointer;
}

@media(max-width:640px){
    .hamburger {display:flex}
    nav > div:not(.hamburger) {display:none}
}

/* Contenus principaux */
main {
    text-align: center;
    color: white;
    margin-top: 70px;
}

main > #contents {
    display: flex;
    flex-direction: row;
}

main > #contents > div:first-child {
    background-color: white;
    color: black;
    flex-shrink: 2;
}

main > #contents > div:last-child {
    background-color: grey;
    width: 40%;
    flex-shrink: 1;
}

/*liens*/
a:link{
    display :flex;
    flex-direction: row;
}
a:visited{
    color:mediumpurple;
}
a:hover{
    color:mediumpurple;
}
/*images*/
.imagetest{

}
/*audio*/

/*footer*/
footer {
    background-color:#0008ff;
    display:flex;
    width: 100%;
    height:60px;
}

footer > #topsecret-logo {
    height: 5vw;
    width: 5.5vw;
    margin: 2vw;
}

footer > #reseaux {
    margin: 0 auto;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
}

footer > #develop {
    color:white;
    margin: auto 1vw auto 0;
    text-align: center;
    border: 0.12vw solid white;
}

footer > #develop h3, footer > #develop > div p {
    margin: 0.5vw;
}

footer > #develop h3 {
    font-size: 5px;
    letter-spacing: 0.4vw;
}

footer > #develop > div p {
    font-size: 10px;
    letter-spacing: 0.1vw;
}

footer > #develop > div {
    /* On divise l'espace en grille de 2 colonnes */
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 5px;
}
/* Fin footer */