/*structure*/
body{
    display: flex;
    flex-direction: column;
    background-color: #15ABFF;
    margin: 0;
    overflow-x: hidden;
}

header {
    flex-grow: 0;
}

/*texte*/

p{
    font-size: 20px;
}
.texte1{
    width: 80%;

}
/*titres*/
.pagesdifferentes{
    display:flex;
    flex-direction: row;
}
/*menu déroulant*/
header > nav {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #0008ff;
    top: 0;
    font-size: 30px;
}

header > nav a:visited{
    color:white;
}

header > nav > span {
    background-color: white;
    padding: 0 30px;
    height: 100%;

}

header > nav > span > img {
    width: 50px;
}

header > nav a {
    text-decoration: none;
    color: #ffffff;
    text-align: left;
    font-family: coolvetica_rg, serif;
}

header > nav > div {
    height: 100%;
}

header > nav > div > div {
    align-items: center;
}

header > nav > div a:hover {
    text-decoration: underline;
}

/* Sous-menus */
.submenu, .submenu2 {
    display: none;
    position: absolute;
    background-color: #0008ff;
    top: 100%;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    flex-direction: column;
    padding: 5px;
    width: 92%;
    align-self: center;
}

.subparent {
    background-color: #0008ff;
    transform-style: preserve-3d;
}

.submenu {
    opacity: 80%;
    transform: translateZ(-10px)
}

.submenu2 {
    left: 100%;
    top: 0;
    border-top-right-radius: 10px;
    width: auto;
}

.subparent:hover > .submenu, .subparent2:hover > .submenu2 {
    display: flex;
    background-color:#0008ff;
}

.submenu > div, .submenu2 > div {
    padding: 10px;
    font-size: 22px;
    justify-content: center;
 }

.submenu > div > a, .submenu2 > div > a {
    text-align:center;
}

header > nav > div:not(:last-child) {
    margin-left: 10px;
}

nav div {
    position: relative;
    text-align: center;
    padding: 0 15px;
    color: white;
    display: flex;
}

/*.subparent, header > nav > div > div:not(:first-child), nav > div > div:not(:nth-child(n)) {
    border-left: 1px solid white;
}*/

/*animation*/
.subparent:hover > .submenu, .subparent2:hover > .submenu2, .hamburger:hover > #menuhamburger {
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

.hamburger:hover > #menuhamburger{
    animation-duration: 0.5s;
    animation-name: menuhamburger;
}

.subparent:hover > .submenu {
    animation-name: submenu;
}

.subparent2:hover > .submenu2 {
    animation-name: submenu2;
}

.puce:hover {
    animation-name: puce;
}

@keyframes submenu {
    0%   {left:0; top:-150px;}
    100% {left:0; top:100%;}
}

/*@keyframes menuhamburger {
    0%   {left:100%; top:100%;}
    100% {left:0; top:100%;}
}*/

@keyframes submenu2 {
    0%   {left:0; top:-100%;}
    100% {left:100px; top:0;}
}

@keyframes puce {
    0% {rotate:90deg;}
    100%{rotate:180deg;}
}

/*menu hamburger*/
.hamburger {
    position:absolute;
    display:none;
    width:100%;
    box-sizing: border-box;
    height:100%;
}

.hamburger > div, .hamenu {
    flex-direction:column;
    display:none;
}
.hamburger > img {
    width: 50px;
    margin-left: auto;
}

.hamburger > img:hover #menuhamburger{
    display:flex;
}

#menuhamburger {
    position: absolute;
    background-color: #0008ff;
    padding: 5px 0 90% 0;
    text-align:center;
    top:68px;
    width: 100%;
    left: 0;
    align-items: stretch;
}


#menuhamburger > div:not(:last-child) {
    border-bottom: 1px solid white;
}

#menuhamburger > div {
    justify-content: center;
    padding: 10px 0 0 0;
}

.hamenu {
    display:none;
    position: relative;
    padding:10px;
    justify-content: stretch;
    text-align:center;
    background-color: #0008d9;
    width:100%;
    height:100%;
    align-self:flex-end;
    top:0;
}

.hamenu > div {
    padding:5px 0 5px 0;
    justify-content: center;
}

.hamenu > a {
    width:auto;
    align-items: center;
}

.hamparent {
    align-items: center;
    flex-direction: column;
}
.hamparent > a, .hamparent > div:first-child > a {
    align-items: center;
    width:100px;
}

#menuhamburger:hover, .hamburger > img:hover ~ #menuhamburger, .hamenu:hover {
    display:flex;
}

.puce {
    width:20px;
    padding:20px;
    rotate:90deg;
}

@media screen and (max-width:640px){
    .hamburger {display:flex}
    nav > div:not(.hamburger) {display:none}
}

/* Contenus principaux */
main {
    flex: 1 1 auto;
    text-align: center;
    color: white;
    margin-top: 70px;
}

main > #contents {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

main > #contents > div:first-child {
    width: 100%;
    background-color: white;
    color: black;
    flex-shrink: 1;
}

main > #contents > div:last-child {
    background-color: grey;
    width: 40%;
    flex-shrink: 2;
}

main > #contents > div:first-child > article {

}



/*liens*/
a:link{
    display :flex;
    flex-direction: row;
}
a:visited{
    color:mediumpurple;
}
a:hover{
    color:mediumpurple;
}
/*images*/
.imagetest{

}
/*audio*/

/*footer*/
footer {
    background-color: #0008ff;
    display: flex;
    padding: 5px 0;
    flex: 0 1 auto;
}

footer > #reseaux {
    margin: 0 auto;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
}

footer > #reseaux > a > img {
    margin: 20px;
    max-height: 30px;
    max-width: 30px;
}

footer > #reseaux > a > img:hover {
    margin: 0 20px;
    height: max-content;
    width: max-content;
    max-height: 50px;
    max-width: 50px;
}

footer > #develop {
    color: white;
    margin: auto 8px auto 0;
    padding: 0 10px;
    text-align: center;
    border: 1px solid white;
}

footer > #develop h3, footer > #develop > div p {
    margin: 4px;
}

footer > #develop h3 {
    font-size: 12px;
    letter-spacing: 3px;
}

footer > #develop > div p {
    font-size: 12px;
    letter-spacing: 1px;
}

footer > #develop > div {
    /* On divise l'espace en grille de 2 colonnes */
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 5px;
}

@media screen and (max-width: 480px) {
    footer { flex-direction: column; }
    footer > #reseaux > a > img { margin: 15px; }
    footer > #reseaux > a > img:hover { margin: 0 15px; }
    footer > #develop { margin: auto; }
}
/* Fin footer */